/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;0,900;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/**
 * responsive viewport
 */
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/**
 * inherit box model
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * iOS "clickable elements" fix for role="button"
 *
 * Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
 * for traditionally non-focusable elements with role="button"
 * see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
 */
[role=button] {
  cursor: pointer;
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 * DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via `touch-action: manipulation`.
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/**
 * Always hide an element with the `hidden` HTML attribute (from PureCSS).
 */
[hidden] {
  display: none !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 1088px;
  max-width: 80vh;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.main-view {
  min-height: 807px;
  max-height: calc(100vh - 55px);
  background: #222222 url("../images/Image.jpg") no-repeat center/cover;
  position: relative;
  z-index: 0;
}
.main-view::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 807px;
  max-height: calc(100vh - 55px);
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.main-view > a::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url("../images/IconArrowDown.svg");
  width: 55px;
  height: 55px;
  background: red 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  bottom: -27.5px;
  left: calc(50% - 27.5px);
  transition: 1s;
}
.main-view > a:hover::after {
  bottom: -33px;
  filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
}

.page-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  min-width: 1088px;
  width: 100%;
}
.page-header .container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav-list {
  height: 100%;
  display: flex;
}
.page-nav-list li {
  list-style: none;
  font-weight: 700;
  font-size: 14px;
}
.page-nav-list a {
  display: inline-block;
  padding: 37px 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: 1s;
}
.page-nav-list a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.page-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo-colorText {
  color: red;
  padding: 0 5px 0 10px;
}

section.banner {
  min-height: 807px;
  max-height: calc(100vh - 254px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .container {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.page-title {
  padding: 17px;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
  font-weight: 900;
}

.page-description {
  margin: 0 0 55px 0;
  text-align: center;
  font-weight: 700;
  padding: 17px;
}

.banner-btn {
  display: flex;
}
.banner-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12.5px;
  width: 226px;
  height: 66px;
  background: #FFFFFF no-repeat padding-box;
  border-radius: 40px;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: 1s;
}
.banner-btn a:hover {
  background: red 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
  color: white;
}

.blog {
  margin: 90px 0 100px 0;
}
.blog a.anchor {
  top: -60px;
}
.blog div.container {
  display: flex;
  justify-content: space-around;
}

h2.container {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
h2.container::before {
  content: "";
  width: 50px;
  height: 3px;
  background: red 0 0 no-repeat padding-box;
  box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
  border: 0 red solid;
  border-radius: 8px;
  display: block;
  margin: 0 10px;
}
h2.container::after {
  content: "";
  width: 50px;
  height: 3px;
  background: red 0 0 no-repeat padding-box;
  box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
  border: 0 red solid;
  border-radius: 8px;
  display: block;
  margin: 0 10px;
}

.blog-title {
  text-transform: uppercase;
  font-weight: 700;
}

.blog-article {
  text-align: left;
  color: #6a6a6a;
}
.blog-article:nth-of-type(2) {
  margin: 0 16px;
}

.blog-article-image {
  max-width: calc(33.3333333333vw - 20px);
  width: 25%;
  min-width: 352px;
  height: auto;
}
.blog-article-image:hover {
  filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
}

.main-article-image {
  width: 25%;
  min-width: 170px;
  border-radius: 50%;
  height: auto;
}
.main-article-image:hover {
  filter: blur(0.2px) brightness(1.1) hue-rotate(5deg) opacity(0.9) saturate(1.3) sepia(0.4);
}

.blog-article-title {
  width: 260px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  margin: 25px 0 25px 0;
}

.blog-article-text {
  font-family: "Open sans", sans-serif;
  max-width: 600px;
  width: 25%;
  min-width: 260px;
  color: #B0AEAB;
  margin-bottom: 30px;
}

.blog-article-btn {
  width: 142px;
  height: 40px;
  border: 2px solid #F35044;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 14px;
}
.blog-article-btn:hover {
  background: #ffa0a0;
  box-shadow: 0 3px 6px #0000004D;
  border: 1px solid #382727FF;
  color: #382727FF;
}
.blog-article-btn:active {
  box-shadow: inset 3px 3px 6px #0000004D;
}

.page-content {
  color: #fff;
  background: #28272C;
  padding-bottom: 100px;
}
.page-content a.anchor {
  top: -90px;
}
.page-content div.container {
  display: flex;
  justify-content: space-evenly;
}

.main-title {
  text-transform: uppercase;
  font-weight: 700;
}

.main-article {
  max-width: 25vh;
  text-align: center;
  color: #6a6a6a;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-article:nth-of-type(2) {
  margin: 0 16px;
}

.main-article-title {
  width: 230px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  margin: 25px 0 25px 0;
}

.main-article-text {
  font-family: "Open sans", sans-serif;
  width: 100%;
  min-width: 230px;
  color: #B0AEAB;
  margin-bottom: 30px;
}

.main-article-btn {
  width: 142px;
  height: 40px;
  border: 2px solid #F35044;
  color: white;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 14px;
}
.main-article-btn:hover {
  box-shadow: 0 3px 6px #0000004D;
  border: 1px solid #382727FF;
  color: #382727FF;
}
.main-article-btn:active {
  box-shadow: inset 3px 3px 6px #0000004D;
}

textarea, input {
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 38px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: #FFFFFF 0 0 no-repeat padding-box;
  width: 100%;
  color: #B2B2B2;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact a.anchor {
  top: -60px;
}
.contact div.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.contact-image {
  padding: 0 8px;
  margin-bottom: 61.5px;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 405px;
  width: 50%;
  padding: 0 10px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-family: "Open sans", sans-serif;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked + span {
  background: url("/images/IconCheck.svg") no-repeat center;
}
.checkbox span {
  height: 22px;
  flex-shrink: 0;
  flex-basis: 22px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
}

input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
input:focus {
  box-shadow: 0 1px 6px #FF00004D;
  border: 1px solid #FF0000;
  border-radius: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

textarea {
  min-height: 140px;
}
textarea::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
textarea:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
textarea::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
textarea:focus {
  box-shadow: 0 1px 6px #FF00004D;
  border: 1px solid #FF0000;
  border-radius: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.contact-btn {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 52px;
  width: 142px;
  height: 40px;
  background: #FFFFFF no-repeat padding-box;
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
  align-self: flex-end;
  justify-self: flex-end;
}
.contact-btn:hover {
  box-shadow: 0 3px 6px #FF00004D;
  border: 1px solid #FF0000;
  color: #FF0000;
}
.contact-btn:active {
  box-shadow: inset 3px 3px 6px #FF00004D;
  border: 1px solid #FF0000;
  color: #FF0000;
}

.footer-logo {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  padding: 40px 0 22px 0;
}
.footer-logo img {
  height: 19px;
}
.footer-logo span {
  padding: 0;
}

.page-footer {
  color: #fff;
  height: 232px;
  background: #28272C;
  min-width: 1088px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page-footer div.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-nav-list {
  text-transform: uppercase;
  height: 100%;
  display: flex;
}
.footer-nav-list a {
  margin-right: 140px;
  display: inline-block;
  padding: 7px 20px 0 0;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: 1s;
}
.footer-nav-list a:hover {
  color: #FF0000;
}
/*# sourceMappingURL=main.css.map */
