.page-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo-colorText {
  color: red;
  padding: 0 5px 0 10px;
}