.page-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  min-width: 1088px;
  width: 100%;

  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}